body{
    background-image:"universe.png" ;
    background-repeat: no-repeat;
    background-color: #000000;
}

.container{
     
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    
}
h1{
    color: rgb(48, 202, 222);
    font-family: sans-serif;
    margin: 0px auto;
}
.box{
    display: flex;
 
}
.mercurio{
color: rgb(255, 255, 255);
font-size: 20px;
}

.venus{
color: aliceblue;
font-size: 20px;

}
.terra{
color: aliceblue;
font-size: 20px;
}

.marte{
color: aliceblue;
font-size: 20px;

}
