body{
    background-image:"universe.png" ;
    background-repeat: no-repeat;
    background-color: #000000;
}
body, input, select, textarea
.container{
     
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    
}
h1{
    color: rgb(48, 202, 222);
    font-family: sans-serif;
    margin: 0px auto;
}
.box{
    display: flex;
 
}
.mercurio{
color: rgb(255, 255, 255);
font-size: 22px;
margin: 150px;
}

.venus{
color: aliceblue;
font-size: 22px;
margin: 150px;
}
.terra{
color: aliceblue;
font-size: 22px;
margin: 150px;
}

.marte{
color: aliceblue;
font-size: 22px;
margin: 150px;
}
.sistema{
color: aliceblue;
font-size: 22px;
margin: 150px;
}
.jupter{
color: aliceblue;
font-size: 22px;
margin: 150px;    
}
.saturno{
color: antiquewhite;
font-size: 22px;
margin: 150px;    
}
.urano{
color: aliceblue;
font-size: 22px;
margin: 150px;    
}
.netuno{
color: aliceblue;
font-size: 22px;
margin: 150px;    
}
